body {
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
    color: #ebf5fb;
    overflow-x: hidden;
}

section {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

.section1 {
    position: absolute;
    padding: 0;
    margin: 0;
    height: 100vh;
    background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), #ebf5fb;
    background-size: cover;
}

.motto {
    color: black;
    display: flex;
    justify-content: center;
    font-size: 30px;
    margin: auto;
    margin-top: 400px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.container .btn {
    margin: 150px auto 70px;
    width: 300px;
    text-align: center;
    color: #f0f0f0;
    font-size: 20px;
    text-decoration: none;
    display: block;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
    position: relative;
}

.container .btn::before {
    content: '';
    position: absolute;
    bottom: -5px;
    left: 0;
    width: 0%;
    height: 3px;
    background-color: aliceblue;
    transition: width 0.3s ease;
}

.container .btn:hover::before {
    width: 100%;
}

.news {
    height: 250px;
    width: 100%;
    padding: 20px;
    background-color: #0D1B2A;
    border-radius: 5px;
}

.news .title {
    padding: 0;
    margin: 0;
    font-size: 30px;
    margin-right: 30px;
    color: #fff;
}

.image-scroll-content-news {
    overflow: hidden;
    position: relative;
    padding-bottom: 5px;
    margin-left: 50px;
    margin-right: 50px;
    display: flex;
    gap: 40px;
    white-space: nowrap;
    transition: transform 0.4s ease-in-out;
}

.image-scroll-content-news a {
    display: flex;
    align-items: center;
    background: white;
    padding: 10px;
    border-radius: 8px;
    text-decoration: none;
    color: black;
    transition: box-shadow 0.3s ease;
    min-width: auto;
    max-width: 100%;
}

.image-scroll-content-news a:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.image-scroll-content-news img {
    width: auto;
    height: 200px;
    border-radius: 5px;
    object-fit: cover;
}

.image-scroll-content-news p {
    margin-left: 10px;
    font-size: 16px;
    font-weight: bold;
    white-space: normal;
    max-width: 200px;
}

.scroll-buttons, .scroll-buttons-news {
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    display: flex;
    justify-content: space-between;
    width: 100%;
    transform: translateY(-50%);
    z-index: 10;
}

.scroll-buttons button, .scroll-buttons-news button {
    background-color: transparent;
    color: black;
    border: none;
    font-size: 30px;
    cursor: pointer;
    transition: color 0.3s ease, transform 0.3s ease;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    margin: 0;
}

.scroll-buttons-news .prev-news::before {
    content: "❮";
    font-size: 30px;
    padding-right: 20px;
}

.scroll-buttons .prev::before{
    content: "❮";
    font-size: 30px;
    padding-left: 20px;
}


.scroll-buttons .next::before {
    content: "❯";
    font-size: 30px;
    padding-right: 20px;
}

.scroll-buttons-news .next-news::before{
    content: "❯";
    font-size: 30px;
    padding-right: 40px;
}

.scroll-buttons button:hover, .scroll-buttons-news button:hover {
    color: #29335C;
    transform: scale(1.2);
}

.nav {
    height: 200px;
    margin: 0;
    padding: 0;
    position: relative;
    top: 0;
    width: 100%;
}

.image-scroll-content {
    margin-left: 100px;
    margin-right: 100px;
    display: flex;
    gap: 45px;
    transition: transform 0.5s ease-in-out;
}

.image-scroll-content a {
    padding-top: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-decoration: none;
    position: relative;
}

.image-scroll-content a::before { 
    content: '';
    position: absolute;
    bottom: -5px;
    left: 0;
    width: 0;
    height: 3px;
    background-color: black;
    transition: width 0.3s ease;
}

.image-scroll-content a:hover::before {
    box-shadow: #1a1a1a;
}

.image-scroll-content img {
    width: auto;
    height: 150px;
    border-radius: 15px;
    object-fit: cover;
}

.image-scroll-content p {
    margin-top: 10px;
    font-size: 14px;
    color: black;
    text-align: center;
    font-weight: 500;
}

.image-scroll-content a:hover {
    transform: scale(1.05);
}

.FAQs h1 {
    color: #1a1a1a;
    font-size: 40px;
    text-align: right;
    padding-top: 200px;
    margin-right: 160px;
}

details {
    padding: 10px;
    display: block;
    border-radius: 5px;
    cursor: pointer;
    width: fit-content;
    margin-left: auto;
    margin-right: 40px;
    overflow: hidden;
}

summary {
    font-size: 25px;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: left;
}

summary::after {
    content: "❯"; 
    font-size: 20px;
    transition: transform 0.3s ease-in-out;
}

details[open] summary::after {
    transform: rotate(90deg);
}

details summary, details p {
    color: #1a1a1a;
}

details p {
    font-size: 20px;
    padding-left: 10px;
    opacity: 0;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.5s ease-out, opacity 0.3s ease-in-out;
}

details[open] p {
    opacity: 1;
    max-height: 100px;
    transition: max-height 0.5s ease-in, opacity 0.3s ease-in-out;
}

.image_faq {
    height: 500px;
    width: auto;
    display: flex;
    float: left;
    margin-top: 180px;
    margin-right: auto;
    margin-left: 120px;
}

@media (max-width: 1348px) {
    .slideshow-container {
        max-width: 45%;
        margin: 200px 0 50px 40px;
    }

    .intro {
        font-size: 18px;
        margin-left: 600px;
        margin-top: -400px;
    }

    .container .btn {
        margin: 100px auto  auto 750px;
        font-size: 16px;
        width: 250px;
    }
}

@media (max-width: 998px) {
    .slideshow-container {
        max-width: 45%;
        margin: 200px 0 50px 40px;
    }

    .intro {
        font-size: 18px;
        margin-left: 500px;
        margin-top: -350px;
    }

    .container .btn {
        margin: 100px auto  auto 520px;
        font-size: 18px;
        width: 250px;
    }
}

@media (max-width: 768px) {
    .slideshow-container {
        max-width: 60%;
        margin: 100px 0 30px 150px;
    }

    .intro {
        font-size: 16px;
        margin-left: 0px;
        margin-top: 100px;
    }

    .photo {
        flex: 0 0 45%;
    }

    .container .btn {
        margin: 70px auto 0;
        font-size: 12px;
        width: 180px;
    }
}

@media (max-width: 576px) {
    .slideshow-container {
        max-width: 80%;
        margin: 100px 0 30px 0px;
    }

    .intro {
        font-size: 12px;
        margin-left: -30px;
        margin-top: 80px;
    }

    .photo {
        flex: 0 0 100%;
    }

    .container .btn {
        margin: 20px auto 10px;
        font-size: 12px;
        width: 100px;
    }
}

@media (max-width: 375px) {
    .slideshow-container {
        max-width: 80%;
        margin: 100px auto 30px auto;
    }

    .intro {
        font-size: 11px;
        margin-left: 10px;
        margin-top: 80px;
    }

    .container .btn {
        margin: 20px auto 10px;
        font-size: 12px;
        width: 100px;
    }
}
