body {
    margin: 0;
    padding: 0;
    font-family: 'Monda', sans-serif;
    overflow-x: hidden;
}

section {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

.section{
    background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url("bg.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 100vh;
    display: block;
}

.motto {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    text-align: left;
    margin: auto;
    margin-top: 150px;
}

.intro {
    color: white;
    max-width: 50%;
}

.motto img {
    width: 550px; 
    height: auto;
}

.intro h1 {
    font-size: 60px;
    margin: 0;
    padding: 0;
    display: block;
}

.intro h4 {
    font-size: 30px;
    margin-top: 5px;
    display: block;
}

.container{
    font-size: 30px;
    width: 230px;
    float: left;
    margin-left: 300px;
}

.news {
    height: 250px;
    width: 100%;
    padding: 20px;
    background-color: #D9DCD6; 
;
}

.image-scroll-content-news {
    padding-top: 15px;
    width: 300px;
    position: relative;
    margin-left: 50px;
    margin-right: 50px;
    display: flex;
    gap: 40px;
    white-space: nowrap;
    transition: transform 0.4s ease-in-out;
}

.image-scroll-content-news a {
    display: flex;
    align-items: center;
    background: white;
    padding: 10px;
    border-radius: 8px;
    text-decoration: none;
    color: black;
    transition: box-shadow 0.3s ease;
    min-width: auto;
    max-width: 100%;
}

.image-scroll-content-news a:hover {
    transform: translateY(-2%);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.image-scroll-content-news img {
    width: auto;
    height: 200px;
    border-radius: 5px;
    object-fit: cover;
}

.image-scroll-content-news p {
    margin-left: 10px;
    font-size: 16px;
    font-weight: bold;
    white-space: normal;
    max-width: 200px;
}

.scroll-buttons, .scroll-buttons-news {
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    display: flex;
    justify-content: space-between;
    width: 100%;
    transform: translateY(-50%);
    z-index: 10;
}

.scroll-buttons button, .scroll-buttons-news button {
    background-color: transparent;
    color: black;
    border: none;
    font-size: 30px;
    cursor: pointer;
    transition: color 0.3s ease, transform 0.3s ease;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
}

.scroll-buttons-news .prev-news::before {
    content: "❮";
    font-size: 30px;
    padding-right: 20px;
}

.scroll-buttons .prev::before {
    content: "❮";
    font-size: 30px;
    padding-left: 20px;
}

.scroll-buttons .next::before {
    content: "❯";
    font-size: 30px;
    padding-right: 20px;
}

.scroll-buttons-news .next-news::before {
    content: "❯";
    font-size: 30px;
    padding-right: 40px;
}

.scroll-buttons button:hover, .scroll-buttons-news button:hover {
    color: #29335C;
    transform: scale(1.2);
}

.nav {
    height: 200px;
    position: relative;
    top: 0;
    width: 100%;
}

.image-scroll-content {
    margin-left: 100px;
    margin-right: 100px;
    display: flex;
    gap: 45px;
    transition: transform 0.5s ease-in-out;
}

.image-scroll-content a {
    padding-top: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-decoration: none;
    position: relative;
}

.image-scroll-content img {
    width: auto;
    height: 150px;
    border-radius: 15px;
    object-fit: cover;
}

.image-scroll-content p {
    margin-top: 10px;
    font-size: 14px;
    color: black;
    text-align: center;
    font-weight: 500;
}

.image-scroll-content a:hover {
    transform: scale(1.05);
}

.section2{
    margin: 0;
    padding: 0;
    position: relative;
    height: 100vh; 
    background-color: #D9DCD6; 

}

.FAQs h1 {
    color: #1a1a1a;
    font-size: 40px;
    text-align: right;
    padding-top: 200px;
    margin-right: 160px;
}

details {
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    width: fit-content;
    margin-left: auto;
    margin-right: 40px;
}

summary {
    font-size: 25px;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

summary::after {
    content: "❯"; 
    font-size: 20px;
    transition: transform 0.3s ease-in-out;
}

details[open] summary::after {
    transform: rotate(90deg);
}

details summary, details p {
    color: #1a1a1a;
}

details p {
    font-size: 20px;
    padding-left: 10px;
    opacity: 0;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.5s ease-out, opacity 0.3s ease-in-out;
}

details[open] p {
    opacity: 1;
    max-height: 100px;
}

.image_faq {
    height: 500px;
    display: flex;
    float: left;
    margin-top: 180px;
    margin-left: 120px;
}

@media (max-width: 1348px) {
    .intro {
        font-size: 18px;
        margin-left: 600px;
        margin-top: -400px;
    }
}

@media (max-width: 998px) {
    .intro {
        font-size: 18px;
        margin-left: 500px;
        margin-top: -350px;
    }
}

@media (max-width: 768px) {
    .intro {
        font-size: 16px;
        margin-left: 0px;
        margin-top: 100px;
    }
}

@media (max-width: 576px) {
    .intro {
        font-size: 12px;
        margin-left: -30px;
        margin-top: 80px;
    }
}

@media (max-width: 375px) {
    .intro {
        font-size: 11px;
        margin-left: 10px;
        margin-top: 80px;
    }
}
